{% extends 'base.html' %}
{% block content %}

<a href="#"><small>Asosiy</small></a> / <a href="#"><small>Developers</small></a> >
<hr>
    <div class="row">
        <div class="col-sm-3">
            <hr>
            <img class="profile account-img" src="../static/images/user_img.png"/>
            <h5 class="card-title">Developer 1</h5>
            <p class="card-text">Developer Skills.</p>
            <a href="./dev_page.html" class="btn btn-dark">Dev Profile</a>
            <hr>
        </div>
        <div class="col-sm-3">
            <hr>
            <img class="profile account-img" src="../static/images/user_img.png"/>
            <h5 class="card-title">Developer 2</h5>
            <p class="card-text">Developer Skills.</p>
            <a href="./dev_page.html" class="btn btn-dark">Dev Profile</a>
            <hr>
        </div>
        <div class="col-sm-3">
            <hr>
            <img class="profile account-img" src="../static/images/user_img.png"/>
            <h5 class="card-title">Developer 3</h5>
            <p class="card-text">Developer Skills.</p>
            <a href="./dev_page.html" class="btn btn-dark">Dev Profile</a>
            <hr>
        </div>
        <div class="col-sm-3">
            <hr>
            <img class="profile account-img" src="../static/images/user_img.png"/>
            <h5 class="card-title">Developer 4</h5>
            <p class="card-text">Developer Skills.</p>
            <a href="./dev_page.html" class="btn btn-dark">Dev Profile</a>
            <hr>
        </div>
    </div>
{% endblock %}