<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link for css -->
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- link for font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Developers PortFolios</title>
</head>
<body>
    <!-- header section  -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-black bg-black">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">PortFolios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Developers</a>
                </li>

                </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Login</a></li>
                    <li><a class="dropdown-item" href="#">Register</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </nav>
    </header>

    <main class="main">
    <div class="row">
        <div class="col-md-11">
            <a href="./index.html"><small>Asosiy</small></a> / <a href="#"><small>News</small></a> >
        </div>
        <div class="col-md-1">
            <a title="Leave a Post" href="./add_post.html"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    
    <hr>
    
    <div class="media-root">
        <div class="media">
            <img class="account-img news" src="../static/images/user_img.png"/>
            <a href="#" class=""><small class="media-info">John Doe</small></a>
            
            <div class="media-body">
            <h4 class="media-title">Media Title 1</h4>
                <p>This includes some words in this news.. <a href="./news_detail.html" class="btn btn-outline-dark">Read news</a></p>
                
            </div>
        </div>
        <div class="media">
            <img class="account-img news" src="../static/images/user_img.png"/>
            <a href="#" class=""><small class="media-info">Alex Jankinson</small></a>
            <div class="media-body">
                <h4 class="media-title">Media Title 2</h4>
                <p>This includes some words in this news.. <a href="./news_detail.html" class="btn btn-outline-dark">Read news</a></p>
                
            </div>
        </div><div class="media">
            <img class="account-img news" src="../static/images/user_img.png"/>
            <a href="#" class=""><small class="media-info">John Boyler</small></a>
            <div class="media-body">
                <h4 class="media-title">Media Title 3</h4>
                <p>This includes some words in this news.. <a href="./news_detail.html" class="btn btn-outline-dark">Read news</a></p>
            </div>
        </div>
    </div>
    </main>

    <footer class="footer">
        <div class="row">
            <div class="col-sm-3 footer-main">
                <h5>Developers PortFolios</h6>
                <p> Here you can find talents*</p>
            </div>
            <div class="col-sm-3">
                <a href="#"><i class="fa fa-telegram" width="20" height="20"></i></a>
                <a href="#"><i class="fa fa-instagram" width="20" height="20"></i></a>
                <a href="#"><i class="fa fa-facebook" width="20" height="20"></i></a>
                <a href="#"><i class="fa fa-envelope" width="20" height="20"></i></a>
            </div>
            <div class="col-sm-3">

                    <a href="#">Privacy and Security</a>
                    <a href="./authentication.html">Login</a>
                    <a href="./authentication.html">Register</a>
                    <a href="#">News</a>

            </div>
        </div>
    </footer>


</body>
</html>